html,
body {
    width: 100%;
    height: 90%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#content_container {
    width: 30%;
    height: 100%;
}

#form_container {
    width: 100%;
    height: 120%;
    background-color: white;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;
    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 220px;
    border-bottom: 1px solid transparent;
    border-image: rgb(0, 255, 200);
    background-image: url('banner3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-family: Bowlby One SC;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(25deg, #40E0D0, #E0B0FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: 90%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;
    float: left;
}

input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
    background: whitesmoke;
    font-family: Montserrat;
    font-weight: 500;
    color: black;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: grey;
}

#button_container {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(50deg, #40E0D0, #5f4fec 50%, #70ffec 50%, #8338EC);
    color: #fff;
    float: left;
    margin-top: 5px;
}

#button_container button {
    width: 50%;
    height: 100%;
    float: left;
    background: transparent;
    color: inherit;
    font-family: Montserrat;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}